.dev-work-client-wrapper{
  display: flex;
  align-items: center;
}
.dev-work-client-link{
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}

/*@media screen and (max-width: 1200px){ }*/

/*@media screen and (max-width: 960px){ }*/

/*@media screen and (max-width: 768px){ }*/

/*@media screen and (max-width: 480px){ }*/