.arq-title{
  font-size: 1.5rem;
  font-weight: 100;
  color: #333333;
  padding: 10px 0;
}
.arq-subtitle{
  font-size: 1rem;
  font-weight: 500;
  color: #888888;
  padding: 5px 0;
}
.arq-paragraph{
  font-size: 1rem;
  font-weight: 100;
  color: #555555;
  padding: 2px 0;
}