.dev-content-paragraph{
  margin: 15px 0;
  column-count: 2;
}
.dev-content-paragraph > a{
  text-decoration: none;
  color: #08c;
}

/*@media screen and (max-width: 1200px){ }*/

@media screen and (max-width: 960px){
  .dev-content-paragraph{
    column-count: 2;
  }
}

@media screen and (max-width: 768px){
  .dev-content-paragraph{
    column-count: 1;
  }
}

@media screen and (max-width: 480px){
  .dev-content-paragraph{
    padding: 0 15px;
    text-align: justify;
    font-size: .9rem;
  }
}