.dev-content-paragraph{
  margin: 15px 0;
  column-count: 2;
}
.dev-content-paragraph > a{
  text-decoration: none;
  color: #08c;
}
.dev-tech-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.dev-tech-item{
  flex-basis: 31%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  margin: 10px 0;
  border: none;
  border-radius: 3px;
  display: flex;
  background-color: #FFFFFF;
}
.dev-tech-header{
  height: 100%;
}
.dev-tech-header > img{
  width: 75px;
  height: 75px;
  margin: 10px;
}
.dev-tech-body{
  padding: 15px 15px 15px 0;
}
.dev-tech-body > a{
  display: block;
  font-size: 1.1rem;
  text-decoration: none;
  color: #08f;
  margin-bottom: 5px;
}
.dev-tech-body > p{
  font-size: .9rem;
  text-align: justify;
}

/*@media screen and (max-width: 1200px){ }*/

@media screen and (max-width: 960px){
  .dev-content-paragraph{
    column-count: 2;
  }
  .dev-tech-item{
    flex-basis: 48%;
  }
}

@media screen and (max-width: 768px){
  .dev-content-paragraph{
    column-count: 1;
  }
  .dev-tech-item{
    flex-basis: 100%;
  }
}

@media screen and (max-width: 480px){
  .dev-content-paragraph{
    padding: 0 15px;
    text-align: justify;
    font-size: .9rem;
  }
  .dev-tech-item{
    margin: 5px 0;
  }
}