.arq-navbar{
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  color: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}
.arq-navbar-header{
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   background-color: #FF3300; 
}
.arq-navbar-header-icon{
  width: 100px;
  height: 100px;
  fill: rgba(0, 0, 0, 0.5);
  padding: 15px;
}
.arq-navbar-header-title{
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
.arq-navbar-item{
  display: flex;
  align-items: center;
  height: 40px;
}
.arq-navbar-item-icon{
  width: 60px;
  height: 40px;
  fill: #666666;
  padding: 10px;
  transition: fill 300ms linear;
}
.arq-navbar-item-link{
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  color: #666666;
  text-transform: uppercase;
  transition: color 300ms linear;
}
.arq-navbar-item-active > .arq-navbar-item-icon{
  fill: #FF3300;
}
.arq-navbar-item-active > .arq-navbar-item-link{
  color: #FF3300;
}