.dev-work-gallery-wrapper{
  position: relative;
  width: 100%;
  height: 600px;
  margin-bottom: 60px;
}
.dev-work-gallery-roll{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dev-work-gallery-image-frame{
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dev-work-gallery-image{
  height: initial;
  width: initial;
  max-width: 100%;
  max-height: 100%;
}
.dev-work-gallery-controls{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dev-work-gallery-controls-dots{
  display: flex;
}
.dev-work-gallery-dot{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #555;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 200ms linear;
}
.dev-work-gallery-arrow{
  width: 60px;
  height: 60px;
  padding: 15px;
  fill: #555;
  cursor: pointer;
}

/*@media screen and (max-width: 1200px){ }*/

/*@media screen and (max-width: 960px){ }*/

@media screen and (max-width: 768px){
  .dev-work-gallery-wrapper{
    height: 400px;
  }
  .dev-work-gallery-controls{
    position: relative;
    justify-content: space-between;
    background: none;
  }
  .dev-work-gallery-dot{
    margin: 0 10px;
  }
}

@media screen and (max-width: 480px){
  .dev-work-gallery-wrapper{
    height: 200px;
  }
}