.dev-content-wrapper{
  width: 100%;
  position: fixed;
  top: 60px;
  overflow-y: auto;
  z-index: 1;
  background-color: #EFEFEF;
}

.dev-container{
  width: 1200px;
  margin: 0 auto;
  animation: slideDown 500ms ease-in-out; 
}

/*-- Custom scrollbar except in mobile --*/
@media screen and (min-width: 480px){
  .dev-content-wrapper::-webkit-scrollbar {
    width: 5px;
  }
  .dev-content-wrapper::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
    border-radius: 2px;
  }
}

@media screen and (max-width: 1200px){
  .dev-container{
    width: 930px;
  }
}

@media screen and (max-width: 960px){
  .dev-container{
    width: 738px;
  }
}

@media screen and (max-width: 768px){
  .dev-container{
    width: 450px;
  }
}

@media screen and (max-width: 480px){
  .dev-content-wrapper{
    padding: 0 0 20px 0;
  }
  .dev-container{
    width: 100%;
  }
}