.arq-content{
  width: 100%;
  padding-left: 250px;
}
.arq-content-section{
  width: 100%;
  padding: 0 60px;
}
.arq-content-title{
  height: 90px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
}
.arq-content-title-icon{
  width:40px;
  height:40px;
  fill:#FF3333;
  margin: 0 10px 0 0;
}
.arq-content-title-text{
  color: #FF3333;
  font-size: 1.5rem;
  font-weight: 500;
}
.arq-work-history-item, .arq-content-achievement{
  margin: 0 0 20px 0;
}
.arq-content-proficiency{
  display: flex;
  flex-wrap: wrap;
}
.arq-content-footer{
  height: 100px;
}
.color-red{
  color: #FF3333;
}