.img-navbar{
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 5;
}
.img-navbar-icon{
  height: 60px;
  width: 60px;
  padding: 15px;
  cursor: pointer;
  fill: #000000;
  opacity: 0.5;
  transition: opacity 150ms linear;
}
.img-navbar-icon:hover{
  opacity: 1;
}
.img-navbar-menu{
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #FFFFFF;
  border-radius: 3px;
  overflow: hidden;
  animation-name: openMenu;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; 
  transform-origin: 30px 30px;
}
.img-navbar-menu-item,
.img-navbar-menu-submenu{
  height: 50px;
  padding-right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 200ms linear;
}
.img-navbar-menu-item:hover{
  background-color: #CCCCCC;
}
.img-navbar-menu-item-icon{
  width: 50px;
  height: 50px;
  padding: 12px;
  fill: rgba(0, 0, 0, 0.75);
}

.img-sort-menu{
  position: fixed;
  top: 5px;
  left: 5px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 3px;
  overflow: hidden;
  animation-name: openMenu;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; 
  transform-origin: 30px 90px;
  display: flex;
}

.img-sorted-telltale{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.img-sorted-telltale-icon{
  width: 20px;
  height: 20px;
  fill: rgba(0, 0, 0, 0.25)
}



@keyframes openMenu{
  0% {
    transform: scale(0);
    box-shadow: none;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }
}