.img-navbar{
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 60px;
  /* width: 100%; */
  z-index: 5;
}
.img-navbar-icon{
  height: 60px;
  width: 60px;
  border-radius: 30px;
  padding: 15px;
  cursor: pointer;
  fill: #FFF;
  background-color: #fb0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 150ms linear;
}
.img-navbar-icon:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}
.img-navbar-menu{
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #FFFFFF;
  border-radius: 3px;
  overflow: hidden;
  animation-name: openMenu;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; 
  transform-origin: 30px 30px;
}
.img-navbar-menu-item,
.img-navbar-menu-submenu{
  height: 50px;
  padding-right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 200ms linear;
}
.img-navbar-menu-item:hover{
  background-color: #CCCCCC;
}
.img-navbar-menu-item-icon{
  width: 50px;
  height: 50px;
  padding: 12px;
  fill: rgba(0, 0, 0, 0.75);
}

.img-sort-menu{
  position: fixed;
  bottom: 15px;
  right: 15px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 3px;
  overflow: hidden;
  animation-name: openMenu;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; 
  transform-origin: right -60px;
  display: flex;
}

.img-sorted-telltale{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.img-sorted-telltale-icon{
  width: 20px;
  height: 20px;
  fill: rgba(0, 0, 0, 0.25)
}


/*@media screen and (max-width: 1200px){ }*/

/* @media screen and (max-width: 960px){} */

/* @media screen and (max-width: 768px){} */

@media screen and (max-width: 480px){
  .img-navbar-menu-item{
    font-size: 0;
    padding-right: 0;
  }
  .img-sorted-telltale{
    margin-left: 0;
  }
}


@keyframes openMenu{
  0% {
    transform: scale(0);
    box-shadow: none;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }
}