.img-navbar{
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 5;
}
.img-navbar-icon{
  height: 60px;
  width: 60px;
  padding: 15px;
  cursor: pointer;
}
.img-navbar-menu{
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #FFFFFF;
  border-radius: 3px;
  overflow: hidden;
  animation-name: openMenu;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; 
  transform-origin: 30px 30px;
}
.img-navbar-menu-item,
.img-navbar-menu-submenu{
  height: 50px;
  padding: 0 30px 0 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 200ms linear;
}
.img-navbar-menu-item:hover{
  background-color: #CCCCCC;
}
.img-navbar-menu-item-icon{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  fill: #555555;
}

.img-sort-menu{
  animation-name: openMenu;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; 
}





@keyframes openMenu{
  0% {
    transform: scale(0);
    box-shadow: none;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }
}